/*------ index --------*/
#lbDocListingError {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

.searchRowHeight {
    /*height: 50px;*/
    height: 42px;
}

.rowTableMargin {
    margin-left: 5px;
}

.rowSearchMargin {
    margin-left: 5px;
}

.PaginationButtonSelected {
    width: 3vw;
    height: 3vw;
    background-color: #1E76FB;
    color: white;
    margin-right: 1vw;
    text-align: center;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1E76FB;
    font-weight: bold;
}

.PaginationButton {
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    color: #1E76FB;
    margin-right: 1vw;
    text-align: center;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1E76FB;
    font-weight: bold;
}

/*------ ViewDoctorProfile -------*/
#lbError {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

#btnCancel {
    font-size: 12px;
    width: 150px;
    /*height: 45px;*/
}

#btnCreate {
    font-size: 12px;
    width: 150px;
    /*height: 45px;*/
}

#btnBack {
    font-size: 12px;
    width: 150px;
    height: 45px;
    display: none;
}

#btnUpdate {
    font-size: 12px;
    width: 150px;
    height: 45px;
    display: none;
}

.doctorButtonRow {
    margin-left: 10px;
    margin-right: 5px;
}

.doctorButtonBox {
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#ddlGender, #ddlOrganization, #ddlBranch {
    font-size: 12px !important;
}

#btnddlService{
    width: 90% !important;
    color: black !important;
    font-size: 12px !important;
    background-color: white !important;
    border: 1px solid black;
}

.dropdown-item{
    font-size: 12px !important;
    color: black !important;
}

.dropdown-item > .form-check-input{
    margin-right: 10px !important;
    box-shadow: none !important;
}

input[type=text] {
    font-size: 12px;
}