.table-content {
    height: 2vw;
    padding: 0 2vw;
}

.tableOriginal {
    width: max-content;
    font-size: 12px;
    margin-bottom: 1vw;
}

.form-field {
    border-style: solid;
    border-color: black;
    font-size: 12px;
}

#btnNewInventory, #btnDownload, #btnPrint {
    font-size: 12px;
    margin-left: 5px;
}
