.divFilterBorder {
    border-radius: 5px;
}

.filterTitleBox {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

#imgSlider {
    content: url('../images/Slider_icon.png');
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.FilterRowTitle {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.FilterRowFields {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 7px;
    margin-right: 5px;
}

.FilterRowFields > .form-select {
    font-size: 14px;
}

.FilterRowButtonSearch {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.FilterRowButtonSearch > button {
    font-size: 14px !important;
}

.FilterRowButtonReset {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.FilterRowButtonReset > button {
    font-size: 14px !important;
}

.collapseHide {
    visibility: hidden;
}

.userButtonRow {
    margin-left: 10px;
    margin-right: -5px;
}

.userButtonBox {
    text-align: right;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.PaginationButtonSelected {
    width: 3vw;
    height: 3vw;
    background-color: #1E76FB;
    color: white;
    margin-right: 1vw;
    text-align: center;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1E76FB;
    font-weight: bold;
}

.PaginationButton {
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    color: #1E76FB;
    margin-right: 1vw;
    text-align: center;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1E76FB;
    font-weight: bold;
}

#staffListing {
    color: dodgerblue !important;
}

#btnCancel, #btnCreate, #btnUpdate {
    font-size: 12px;
}

