
@{
    ViewData["Title"] = "Dashboard Page";
    ViewData["SelectedMenu"] = "dashboardMenu";
}

<div id="pageName" hidden>@ViewData["SelectedMenu"]</div>

<div>
    <h1>Index Dashboard</h1>
</div>


