@model VPMS.Lib.Data.Models.LoginModel;

@{
    ViewData["Title"] = "Change Password Page";
    Layout = "_LoginLayout";
}

<form id="registerForm" method="post" asp-controller="Login" asp-action="ChangingPassword">
    <h1 class="form-title">Change Password</h1>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_locked.png" />
            <input asp-for="Password" class="form-control" aria-required="true" placeholder="Current Password" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 3vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_locked.png" />
            <input asp-for="NewPassword" autocomplete="new-password" class="form-control" aria-required="true" placeholder="New Password" />
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <button id="changeSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
    <a class="link" asp-controller="Login" asp-action="Login">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}