@model VPMS.Lib.Data.Models.LoginModel;

@{
    ViewData["Title"] = "Change Password Page";
}

<div class="row">
    <div class="col-md-8">
        <form id="registerForm" method="post" asp-controller="Login" asp-action="ChangingPassword">
            <h2>Change Password</h2>
            <hr />
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" aria-required="true" placeholder="Old Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" aria-required="true" placeholder="New Password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <button id="changeSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}