@model VPMS.Lib.Data.Models.LoginModel;

@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VPMS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @if (ViewData["alert"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewData["alert"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="$('.alert').alert('close');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row" style="justify-content:center;">
        <div class="col-md-8">
            <form id="registerForm" method="post" asp-controller="Login" asp-action="SignIn">
                <h2>Login</h2>
                <hr />
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" aria-required="true" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button id="loginSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                <a id="recoverySubmit" asp-controller="Login" asp-action="PasswordRecovery">Forgot password?</a>
            </form>
            
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/lib/ajax/popper.js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>