@{
	Layout = null;
	ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>@ViewData["Title"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="stylesheet" href="~/css/loginNew.css" />
	<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
	<!-- Add your custom HEAD content here -->

</head>
<body>
	<div id="content-container">
		<div id="_bg__dashboard___total_patients_selected___2"></div>
		<div id="rectangle_1439"></div>
		<img src="~/images/skins/bg_line.png" id="bg_line" />
		<div id="bg"></div>

		<div id="group_2126">
			<img src="~/images/skins/bg_line_ek1.png" id="bg_line_ek1" />
			<div id="bg_ek1"></div>

		</div>

		<div id="top_treatments">
			<img src="~/images/skins/mask_group_3.png" id="mask_group_3" />

			<div id="group_981">

				<div id="group_921">
					<img src="~/images/skins/path_3976.png" id="path_3976" />
					<div id="ellipse_373"></div>

				</div>
				<div id="vaccinations_30_">
					<span style="color:#000000; font-style:normal; font-weight:normal; ">Vaccinations<br /></span><span style="color:#a7a7a7; font-style:normal; font-weight:normal; ">30%</span>
				</div>

			</div>

			<div id="group_983">
				<div id="nutritional_counseling_5_">
					<span style="color:#000000; font-style:normal; font-weight:normal; ">Nutritional<br />Counseling<br /></span><span style="color:#a7a7a7; font-style:normal; font-weight:normal; ">5%</span>
				</div>

				<div id="group_922">
					<img src="~/images/skins/path_3976_ek1.png" id="path_3976_ek1" />
					<div id="ellipse_373_ek1"></div>

				</div>

			</div>

			<div id="group_984">
				<div id="routine_check_ups_30_">
					<span style="color:#000000; font-style:normal; font-weight:normal; ">Routine<br />Check-ups<br /></span><span style="color:#a7a7a7; font-style:normal; font-weight:normal; ">30%</span>
				</div>

				<div id="group_923">
					<img src="~/images/skins/path_3976_ek2.png" id="path_3976_ek2" />
					<div id="ellipse_373_ek2"></div>

				</div>

			</div>

			<div id="group_980">
				<div id="parasite_control_20_">
					<span style="color:#000000; font-style:normal; font-weight:normal; ">Parasite<br />Control<br /></span><span style="color:#a7a7a7; font-style:normal; font-weight:normal; ">20%</span>
				</div>

				<div id="group_924">
					<img src="~/images/skins/path_3976_ek3.png" id="path_3976_ek3" />
					<div id="ellipse_373_ek3"></div>

				</div>

			</div>

			<div id="group_982">
				<div id="dental_care_15_">
					<span style="color:#000000; font-style:normal; font-weight:normal; ">Dental Care<br /></span><span style="color:#a7a7a7; font-style:normal; font-weight:normal; ">15%</span>
				</div>

				<div id="group_925">
					<img src="~/images/skins/path_3976_ek4.png" id="path_3976_ek4" />
					<div id="ellipse_373_ek4"></div>

				</div>

			</div>

		</div>

		<a href="dashboard___total_patients_selected___3.html">
			<img src="~/images/skins/path_4043.png" id="path_4043" />

			<div id="group_1138">
				<div id="rectangle_1045"></div>
				<div id="rectangle_1046"></div>

			</div>

			<div id="icon_feather_sun">
				<img src="~/images/skins/path_519.png" id="path_519" />
				<img src="~/images/skins/path_520.png" id="path_520" />

			</div>

		</a>

		<div id="group_2123">

			<div id="group_862">

				<div id="group_707">
					<div id="login">
						Login
					</div>

				</div>

			</div>
			<img src="~/images/skins/path_5918.png" id="path_5918" />
			<div id="password">
				Password
			</div>

			<a href="dashboard___total_patients_selected.html">
				<div id="rectangle_978"></div>
				<div id="login_ek1">
					Login
				</div>

			</a>

			<div id="group_864">
				<div id="forgot_password_">
					<a href="#">Forgot Password?</a>
				</div>

			</div>

			<div id="group_1023">
				<div id="rectangle_976"></div>
				<div id="login_id">
					Login ID
				</div>

			</div>
			<img src="~/images/skins/icon_ion_person_sharp.png" id="icon_ion_person_sharp" />
			<img src="~/images/skins/icon_ion_locked.png" id="icon_ion_locked" />

		</div>
		<img src="~/images/skins/kitten.png" id="kitten_on_a_white_background_2023_11_27_05_21_48_utc" />
		<img src="~/images/skins/border_collie_dog.png" id="border_collie_dog_standing_and_facing_forward_2023_11_27_05_36_14_utc" />

		<div id="_637c5f0b6877b653f915ef30_logo_white">
			<img src="~/images/skins/path_5916.png" id="path_5916" />
			<img src="~/images/skins/path_5917.png" id="path_5917" />

		</div>
		<div id="ellipse_412"></div>
		<div id="ellipse_413"></div>

	</div>
</body>
</html>