@model VPMS.Lib.Data.Models.RegisterModel;

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Password Recovery Page";
}

<form id="registerForm" method="post" asp-controller="Login" asp-action="RecoverPassword">
    <h1 class="form-title">Password Recovery</h1>

    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 1.8vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_person_sharp.png" />
            <input asp-for="Username" class="form-control" aria-required="true" placeholder="Login ID" />
        </div>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 fieldContainer" style="margin-bottom: 3vw !important;">
        <div class="fieldContainerChild">
            <img src="~/images/skins/icon_ion_locked.png" />
            <input asp-for="Email" class="form-control" aria-required="true" placeholder="Email" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button id="RecoverySubmit" type="submit" class="w-100 btn btn-lg btn-primary">Recover Password</button>
    <a class="link" asp-controller="Login" asp-action="Login">Back</a>
</form>