@inject IHttpContextAccessor httpContextaccessor
@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources

@{
	ViewData["Title"] = "Patients Page";
	ViewBag.SelectedMenu = "patientsMenu";

	var startDate = DateOnly.FromDateTime(DateTime.Now);
	var endDate = DateOnly.FromDateTime(DateTime.Now.AddDays(5));
}

<style>
	.currentTab {
		background-color: dodgerblue !important;
		border: none !important;
	}

	.field-container {
		display: flex;
		flex-direction: column;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
	}

	.formlabel {
		font-weight: bold;
		margin-bottom: 0.3vw;
		font-size: 1vw;
	}

	.inputField {
		border: 0.1vw solid;
		font-size: 1vw;
	}

	.halfSize {
		width: 36vw;
	}

	.quaterSize {
		width: 8.5vw;
	}

	/* circle-icon */
	#container {
		width: 1.6vw;
		height: 1.6vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: blue;
		border: 0.15vw solid;
		font-size: 1.5vw;
		justify-content: center;
		align-items: center;
	}

	.containerCircle {
		width: 1.2vw;
		height: 1.2vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: blue;
		border: 0.15vw solid;
		font-size: 1vw;
		justify-content: center;
		align-items: center;
	}

	.table-content {
		height: 2vw;
	}

	.table-row-content {
		padding: 1vw 0;
	}

	table th:first-child {
		border-radius: 0.2vw 0 0 0.2vw;
	}

	table th:last-child {
		border-radius: 0 0.2vw 0.2vw 0;
	}

	.dropdown-arrow.showInfo {
		transform: rotate(180deg);
	}

	/* Container for the slider */
	.slider-container {
		width: 300px;
		position: relative;
		height: 8px;
		background: linear-gradient(to right, #fcc11d 33%, white 33%, white 33.5%, #42c0a5 33.5%, #42c0a5 66%, white 66%, white 66.5%, #ea4643 66.5%);
		border-radius: 5px;
		overflow: visible; /* Allow the thumb to display outside the container */
	}

	/* Styling the range input to be invisible but functional */
	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 8px;
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		outline: none;
		cursor: pointer;
	}

	.columnWidth{
		width: 25%;
	}
</style>

<div style="display: flex;">

	<div style="display: flex; align-items: center; margin-bottom: 1.5vw;">
		<img id="imgBackArrow" style=" margin-right: 1vw; width: 1.5vw;" onclick="window.location='/Patients/TestManagement/@ViewBag.PatientID/@ViewData["PetName"]';" />
		<span class="textColor" style="font-size: 2vw;">@LangResources["Patient_Title_Patients"]</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span class="textColor" style="font-size: 2vw;">@LangResources["Patient_Title_PatientProfile"]</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span class="textColor" style="font-size: 2vw;">@ViewData["PetName"] @LangResources["Patient_Title_Profile"]</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span class="textColor" style="font-size: 2vw;">Test Management</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span style="font-size: 2vw; color: dodgerblue;">Blood Test</span>
	</div>
</div>

<div>
	<table class="textColor" id="bloodTestList" style="width:100%; margin-bottom: 2vw; font-size: 1vw;">
		<tr class="containerBackground">
			<th class="table-content columnWidth" style="padding-left: 1vw;">Parameter</th>
			<th class="table-content columnWidth">Result</th>
			<th class="table-content columnWidth">Normal Range</th>
			<th class="table-content columnWidth">Result Gauge</th>
		</tr>
		<tr>
			<td class="table-content" style="padding-left: 1vw;"></td>
			<td class="table-content"></td>
			<td class="table-content"></td>
			<td class="table-content" style="padding: 0.5vw 0; padding-right: 1vw; display: flex; height: min-content;">
				<div style="border-left: 0.7vw solid #fcc11d; width: 33%; padding-left: 0.5vw;">Low</div>
				<div style="border-left: 0.7vw solid #42c0a5; width: 33%; padding-left: 0.5vw;">Normal</div>
				<div style="border-left: 0.7vw solid #ea4643; width: 33%; padding-left: 0.5vw;">High</div>
			</td>
		</tr>
		<tr style="border-bottom-width: 0.1vw; height: 3.3vw;">
			<td class="table-content" style="padding-left: 1vw;">Hematocrit</td>
			<td class="table-content">30.5%</td>
			<td class="table-content"><span>25.8</span> - <span>41.8</span><span>%</span></td>
			<td class="table-content" style="padding-right: 1vw;">
				<div class="slider-container">
					<input type="range" min="0" max="100" value="50" class="slider" disabled>
				</div>
			</td>
		</tr>
		<tr style="border-bottom-width: 0.1vw; height: 3.3vw;">
			<td class="table-content" style="padding-left: 1vw;">Hematocrit</td>
			<td class="table-content">20.5%</td>
			<td class="table-content"><span>25.8</span> - <span>41.8</span><span>%</span></td>
			<td class="table-content" style="padding-right: 1vw;">
				<div class="slider-container">
					<input type="range" min="0" max="100" value="30" class="slider" disabled>
				</div>
			</td>
		</tr>
		<tr style="border-bottom-width: 0.1vw; height: 3.3vw;">
			<td class="table-content" style="padding-left: 1vw;">Hematocrit</td>
			<td class="table-content">70.5%</td>
			<td class="table-content"><span>25.8</span> - <span>41.8</span><span>%</span></td>
			<td class="table-content" style="padding-right: 1vw;">
				<div class="slider-container">
					<input type="range" min="0" max="100" value="70" class="slider" disabled>
				</div>
			</td>
		</tr>
	</table>

	
</div>