
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ms-3">
    <div class="row pt-4">
        <label class="pageTitle">
            Pets
        </label>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        5555
    </div>
</div>
