
@{
    ViewData["Title"] = "Settings";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="NotificationTitle">
                Notification Settings
            </label>
        </div>
    </div>
    <div class="row">
        <div class="row" style="border: 1px solid black; margin-left: 30px; margin-right: 30px;">
            <div class="row">
                <div class="col-md-12">Enable the notifications that you would like to receive</div>
            </div>
        </div>
    </div>
</div>

