﻿@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources

@{
	ViewData["Title"] = "Inventory Page";
	ViewBag.SelectedMenu = "inventoryMenu";
}

<style>
	.table-content {
		height: 2vw;
		padding: 0 2vw;
	}

	.table-content-center {
		text-align: center;
	}

	.table-row-content {
		padding: 1vw 0;
	}

	table th:first-child {
		border-radius: 0.2vw 0 0 0.2vw;
	}

	table th:last-child {
		border-radius: 0 0.2vw 0.2vw 0;
	}

	.form-field {
		border-style: solid;
		border-color: black;
		font-size: 1vw;
	}

	.field-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 2vw;
		font-size: 1vw;
	}

	.form-label {
		font-weight: bold;
		margin-bottom: 0.7vw;
	}

	/* circle-icon */
	#container {
		width: 1.6vw;
		height: 1.6vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: white;
		border: 0.15vw solid;
		font-size: 1.5vw;
		justify-content: center;
		align-items: center;
	}

	/* for static end button */
	.headcol {
		position: sticky;
		right: 0;
		top: auto;
		background: white;
		padding: 0 !important;
	}
</style>

<div style="display: flex; justify-content: space-between;">

	<div style="display: flex; align-items: center; margin-bottom: 3vw;">
		<img id="imgBackArrow" style=" margin-right: 1vw; width: 1.5vw;" /> <span class="textColor" style="font-size: 2vw;">Inventory</span>
	</div>

	<div style="display: flex; margin-bottom: 3vw; height: 3vw;">
		<input id="SearchService" type="text" class="form-control form-field inputField" placeholder="Search inventory" />
		<button class="btn btn-lg btn-primary" style="display: flex; align-items: center; width: 21vw; margin-left: 1vw;" onclick="location.href='@Url.Action("CreateNewInventory", "Inventory")'">
			<span id="container">+</span>
			<span style="font-size: 1vw; margin-left: 0.5vw;">New Inventory</span>
		</button>
		<button class="btn btn-lg btn-primary" style="display: flex; justify-content: center; align-items: center; margin-left: 1vw;">
			<i class="fa-solid fa-download"></i>
		</button>
		<button class="btn btn-lg btn-primary" style="display: flex; justify-content: center; align-items: center; margin-left: 1vw;"><i class="fa-solid fa-print"></i></button>
	</div>

</div>

<div>
	<div style="overflow:auto; width: 78vw;">
		<table class="textColor" id="inventoryList" style="width: max-content; margin-bottom: 2vw; font-size: 1vw;">
			<tr class="containerBackground">
				<th class="table-content" style="padding: 0 1vw;"> No </th>
				<th class="table-content"> Inventory Name </th>
				<th class="table-content"> Category </th>
				<th class="table-content"> Usage </th>
				<th class="table-content"> Product Name </th>
				<th class="table-content table-content-center"> Image </th>
				<th class="table-content"> SKU </th>
				<th class="table-content"> Qty </th>
				<th class="table-content table-content-center"> Price ($) per Qty </th>
				<th class="table-content"> Organisation </th>
				<th class="table-content"> Branch </th>
				<th class="table-content table-content-center"> Status </th>
				<th class="table-content headcol">  </th>
			</tr>

			<tr style="border-bottom-width: 0.1vw; height: 3.3vw;">
				<td class="table-content" style="padding: 0 1vw;"> 1 </td>
				<td class="table-content"> Prednisalone Suspension 5mg | 10ml </td>
				<td class="table-content"> Vaccination </td>
				<td class="table-content"> Vaccination for cat </td>
				<td class="table-content"> Feline Viral Rhinotracheitis (FVR) </td>
				<td class="table-content table-content-center">
					<img src="~/images/Inventory/Prednisolone.png" style="width: 3vw;" />
				</td>
				<td class="table-content"> 6368 </td>
				<td class="table-content"> 1000 </td>
				<td class="table-content table-content-center"> 10 </td>
				<td class="table-content"> Itaewon Animal Hospital </td>
				<td class="table-content"> HQ </td>
				<td class="table-content table-content-center">
					<div style="color: #57baa5; background-color: #c3f7ec;font-weight: bold; padding: 0.2vw 1vw; border-radius: 0.5vw; width: 8vw; margin: auto;">
						In Stock
					</div>
				</td>
				<td class="table-content headcol" style="width: 0;">
					<div class="dropleft">
						<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 0;">
							<img class="moreIcon" />
						</button>
						<div class="dropdown-menu" style="min-width: fit-content; font-size: 1vw;">
							<a class="dropdown-item" href="#"> View </a>
							<a class="dropdown-item" href="#"> Edit </a>
						</div>
					</div>
				</td>
			</tr>

			<tr style="border-bottom-width: 0.1vw; height: 3.3vw;">
				<td class="table-content" style="padding: 0 1vw;"> 2 </td>
				<td class="table-content"> Prednisalone Suspension 5mg | 10ml </td>
				<td class="table-content"> Vaccination </td>
				<td class="table-content"> Vaccination for cat </td>
				<td class="table-content"> Feline Calicivirus (FCV) </td>
				<td class="table-content table-content-center">
					<img src="~/images/Inventory/Prednisolone.png" style="width: 3vw;" />
				</td>
				<td class="table-content"> 6353 </td>
				<td class="table-content"> 500 </td>
				<td class="table-content table-content-center"> 30 </td>
				<td class="table-content"> Itaewon Animal Hospital </td>
				<td class="table-content"> HQ </td>
				<td class="table-content table-content-center">
					<div style="color: #ff2c29; background-color: #ffc5c4;font-weight: bold; padding: 0.2vw 1vw; border-radius: 0.5vw; width: 8vw; margin: auto;">
						Out of Stock
					</div>
				</td>
				<td class="table-content headcol" style="width: 0;">
					<div class="dropleft">
						<button class="btn" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 0;">
							<img class="moreIcon" />
						</button>
						<div class="dropdown-menu" style="min-width: fit-content; font-size: 1vw;">
							<a class="dropdown-item" href="#"> View </a>
							<a class="dropdown-item" href="#"> Edit </a>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	

	<div id="pagination" style="display: flex; justify-content: flex-end;">
		<div>
			<button id="prevButton" onclick="prev();" style="width: 3vw; height: 3vw; margin-right: 2vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; color: gray; font-size: 1vw;" hidden>@LangResources["Patient_Button_Previous"]</button>
		</div>
		<div id="paginationNumbering" style="display: flex; justify-content: flex-end; font-size: 1vw;">
		</div>
		<div>
			<button id="nextButton" onclick="next();" style="width: 3vw; height: 3vw; margin-left: 1vw; text-align: center; display: flex; align-items: center; justify-content: center; background: transparent; border-style: none; font-weight: bold; color: #1e76fb; font-size: 1vw;" hidden>@LangResources["Patient_Button_Next"]</button>
		</div>
	</div>
</div>

<script>
	var paginationLimit = 5;
	var rowLimit = 8;
	var startPagination = 1;
	var endPagination = 0;
	var totalPagination = 0;
	var currentPage = 1;
	var search = "";
</script>