@inject IHttpContextAccessor httpContextaccessor

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sessionUserID = httpContextaccessor.HttpContext.Session.GetString("UserID");
}

<style>
    .errorValidation {
        border-color: red !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('#btnUpdate').on('click', function(ctl)
        {
            $('#lbError').html('');

            if (ValidateInput())
            {
                if (validatePasswordFormat($('#txtNewPassword').val()))
                {
                    $.post("/Login/ResetPassword", {
                        userID: '@sessionUserID',
                        newPassword: $('#txtNewPassword').val()
                    }).done(function(result){
                        if (result.statusCode == 200){
                            ShowSuccessMsgBox("Reset Password", "Reset Password successfully. Re-login again to refresh the changes.",
                                function () {
                                    window.location.href = '/Login/Index';
                                }
                            )
                        }
                        else{
                            $('#lbError').html('Reset password failed. Please contact administrator.');
                        }
                    });
                }
                else
                {
                    $('#lbError').html('Invalid password format. Password must contains at lease one uppercase and one lowercase alphanumeric with max 8 character length.');
                }
                
            }
            else{
                $('#lbError').html("Missing mandatory fields");
            }
        });

        $('#btnCancel').on('click', function(ctl){
            //todo:
        });

        if ('@sessionUserID' != '')
        {
            LoadAccountPassword();
        }
    });

    function LoadAccountPassword()
    {
        var iID = '@sessionUserID';

        $.getJSON("/Account/GetCustomerAccount/" + iID)
            .done(function(result){
                if (result != null)
                {
                    $('#txtOldPassword').val(result.data.passwordHash);
                    $('#txtOldPassword').prop('disabled', true);
                }
                else
                {
                    //todo
                    
                }
            });
    }

    function ValidateInput()
    {
        let isValid = true;

        if ($('#txtNewPassword').val() == '')
        {
            $('#txtNewPassword').addClass("errorValidation");
            $('#txtNewPassword').focus();

            isValid = false;
        }
        else
        {
            $('#txtNewPassword').removeClass("errorValidation");
        }

        if ($('#txtConfirmPassword').val() == '')
        {
            $('#txtConfirmPassword').addClass("errorValidation");
            $('#txtConfirmPassword').focus();
        }
        else
        {
            $('#txtConfirmPassword').removeClass("errorValidation");
        }

        return isValid;
    }

</script>

<div class="row ms-2" style="border: 0px solid black;">
    <div class="row px-0">
        <label style="font-size: 24px; font-weight: bold;">Reset Password</label>
    </div>
    <!--<div class="row">&nbsp;</div>---->
    <div class="row" style="background-color: #F7F7F7; border-radius: 8px;">
        <!--<div class="row">&nbsp;</div>---->
        <div class="row pt-4">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <!--<h6><strong>Old Password</strong></h6>---->
                <label style="font-size: 14px; font-weight: bold;">Old Password</label>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <input id="txtOldPassword" type="password" class="form-control" style="width: 100%" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <!--<div class="row">&nbsp;</div>-->
        <div class="row pt-3">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <!--<h6><strong>New Password</strong></h6>---->
                <label style="font-size: 14px; font-weight: bold;">New Password</label>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <input id="txtNewPassword" type="password" class="form-control" style="width: 100%;" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <!--<div class="row pt-3">&nbsp;</div>-->
        <div class="row pt-3">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <!---<h6><strong>Confirm New Password</strong></h6>-->
                <label style="font-size: 14px; font-weight: bold;">Confirm New Password</label>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <input id="txtConfirmPassword" type="password" class="form-control" style="width: 100%;" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <label id="lbError" style="color: red; font-weight: bold; font-size: 13px;" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <!--<div class="row">&nbsp;</div>-->
    </div>

    <div class="row">
        <div class="row pt-3">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-3">
                <input id="btnCancel" type="button" class="btn btn-secondary" value="Cancel" style="width: 100%;" />
            </div>
            <div class="col-md-3">
                <input id="btnUpdate" type="button" class="btn btn-primary" value="Update" style="width: 100%;" />
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
</div>

