@inject IHttpContextAccessor httpContextaccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VPMS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="false"></script>

    <script src="~/lib/bootstrap/dist/js/v4.6.2/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @{
        var theme = httpContextaccessor.HttpContext.Request.Cookies["theme"];
        if (theme != null)
        {
            if (theme == "dark")
            {
                        <link id="themeCss" rel="stylesheet" href="~/css/DarkTheme.css" />
                ViewBag.DarkTheme = "Dark";
            }
            if (theme == "light")
            {
                        <link id="themeCss" rel="stylesheet" href="~/css/LightTheme.css" />
                ViewBag.DarkTheme = "Light";
            }
        }
        else
        {
                    <link id="themeCss" rel="stylesheet" href="~/css/LightTheme.css" />
            ViewBag.DarkTheme = "Light";
            /* temp */
        }
    }

    <style>

        /*below are for theme button*/

        #theme {
            z-index: 9998;
            position: absolute;
            right: 0;
        }

        #path_4043 {
            top: 1vw;
            right: 1vw;
            width: 6.5vw;
            height: 3.5vw;
            position: absolute;
        }

        #group_1138 {
            top: 1.4vw;
            right: 1.5vw;
            width: 2.6vw;
            position: absolute;
            /*animation*/
            transition: all 0.5s linear;
        }

            #group_1138.darktheme {
                top: 1.4vw;
                right: 3.5vw;
                width: 3.6vw;
                position: absolute;
                /*animation*/
                transition: all 0.5s linear;
            }

        #dark_theme_icon {
            visibility: hidden;
            opacity: 0;
            /*animation*/
            transition: opacity 0.5s linear;
        }

            #dark_theme_icon.darktheme {
                visibility: visible;
                opacity: 1;
                top: -0.25vw;
                right: 2.7vw;
                width: 1.6vw;
                position: absolute;
                /*animation*/
                transition: opacity 0.5s linear;
            }


        #rectangle_1045, #rectangle_1046 {
            width: 2.6vw;
            height: 2.6vw;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
            border-radius: 0.5vw;
            background: rgba(30, 118, 251, 255);
            position: absolute;
        }

        #icon_feather_sun {
            top: 2.2vw;
            right: 2.2vw;
            width: 2.05vw;
            position: absolute;
        }

        #path_519 {
            top: 0.15vw;
            right: 0.15vw;
            width: 0.9vw;
            position: absolute;
            visibility: visible;
            opacity: 1;
            /*animation*/
            transition: opacity 0.5s linear;
        }


        #path_520 {
            top: -0.21vw;
            right: -0.21vw;
            width: 1.6vw;
            position: absolute;
            visibility: visible;
            opacity: 1;
            /*animation*/
            transition: opacity 0.5s linear;
        }

            #path_519.darktheme, #path_520.darktheme {
                visibility: hidden;
                opacity: 0;
                /*animation*/
                transition: opacity 0.5s linear;
            }
    </style>
</head>
<body onload="StartTimers();" onmousemove="ResetTimers();" onkeydown="ResetTimers();">

    <div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" id="alert" style="position: fixed; z-index: 9999;left: 50%; transform: translate(-50%, 0); display: none !important;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div style="margin-left: 1vw;">You will be automatically logout if continue to idle.</div>
    </div>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <dix class="col-auto bar-menu-bg">
                <div class="d-flex flex-column align-items-center" style="width: 262px; margin-top: 35px; margin-left: 22px;">
                    <div class="col-md-12">
                        <img id="imgLogo" style="width: 40px; height: 34px; " />
                        <img id="imgLogoTitle" style="width: 160px; height: 22px;" />
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li style="margin-top: 85px; margin-bottom: 10px">
                        <a asp-controller="Dashboard" asp-action="Index">
                            <span id="dashboardMenu" style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconHome" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Dashboard</strong>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Patients" asp-action="Index">
                            <span id="patientsMenu" style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconPatients" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Patients</strong>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Appointment" asp-action="Index">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconAppt" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Appointments</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconReceipt" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Reception</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconAccess" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Access Control</strong>
                            <img id="imgArrow" style="margin-left: 20px;" />
                            <ul>
                                <li>Organization</li>
                                <li>Staff Listing</li>
                                <li>Role Setting</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="imgTreatment" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Patient Treatment Plan</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconInventory" style="margin-left: 16px; margin-right: 16px;" />
                            <strong class="sidebar-nav-font">Service & Inventory</strong>
                            <img id="imgArrow" style="margin-left: 3px;" />
                            <ul>
                                <li>Service</li>
                                <li>Inventory</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconServices" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Customer Service</strong>
                        </a>
                    </li>
                </ul>
            </dix>
            <div class="col py-3">
                <div class="row" style="border: 0px solid black; height: 85px;">
                    <div class="col-md-6" style="border: 0px solid black;">
                    </div>
                    <div class="col-md-6" style="border: 0px solid black;">
                        <div class="row" style="height: 80px;">
                            <div class="col-md-4" style="border: 0px solid black;"></div>
                            <div class="col-md-6" style="border: 0px solid black;">
                                <div style="display: flex; flex-direction: row; margin-top: 10px; width: 280px; height: 60px;">
                                    <div style="width: 60px; border-radius: 50px; background-color: cornflowerblue;">
                                        <img src="~/images/AvatarProfile.png" width="60" height="60" />
                                    </div>
                                    <div style="width: 220px; margin-left: 15px;">
                                        <div class="dropdown" style="margin-top: 10px; width: fit-content;">
                                            <div class="dropdown-toggle" data-toggle="dropdown" style="width: 11vw;">
                                                <label class="ProfileFont">NAME NAME NAME NAME</label>
                                            </div>
                                            <div class="dropdown-menu profilemenu">
                                                <a class="dropdown-item" href="#">My Profile</a>
                                                <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="border: 0px solid black;">
                                <!-- Switch Themes -->
                                @* <div class="divThemes">
                                    <div id="btnDark" class="text-center align-content-center" style="display: inline-block; width: 32px; height: 35px; border-radius: 5px; margin-left: 6px; margin-top: 4px;" data="dark">
                                        <img src="~/images/DarkWhite.png" width="22" height="20" />
                                    </div>
                                    <div id="btnBright" class="text-center align-content-center" style="width: 32px; height: 35px; border-radius: 5px; margin-right: 5px; margin-top: 4px;" data="light">
                                        <img src="~/images/BrightnessWhite.png" width="22" height="20" />
                                    </div>
                                </div> *@
                                <a href="#" id="theme" onclick="toggleTheme(true);">
                                    <img src="~/images/skins/path_4043.png" id="path_4043" />

                                    <div id="group_1138">
                                        <div id="rectangle_1045"></div>
                                        <div id="rectangle_1046"></div>

                                    </div>

                                    <div id="icon_feather_sun">
                                        <img src="~/images/skins/path_519.png" id="path_519" />
                                        <img src="~/images/skins/path_520.png" id="path_520" />
                                        <img src="~/images/DarkWhite.png" id="dark_theme_icon" />

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border: 0px solid black;">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">        

        if ('@ViewBag.darkTheme' == 'Dark') {
            toggleTheme(false);
        }

        var pageName = '@ViewBag.SelectedMenu';
        $("#" + pageName).toggleClass('selected')

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.sidebar-nav li').click(function (e) {
            if ($(this).find('#imgArrow').length > 0) {
                $(this).find('ul').toggleClass('open');
                $(this).find('#imgArrow').toggleClass('Up');
            }
            else {
                $('.sidebar-nav').find('span').removeClass('selected');
                $(this).find('span').toggleClass('selected');
            }
        })

        $('.sidebar-nav li ul li').click(function (e) {
            $('.sidebar-nav').find('span').removeClass('selected');

            $(this).parent().toggleClass('open');
            $(this).parent().parent().find('#imgArrow').toggleClass('Up');
            $(this).parent().parent().parent().find('span').toggleClass('selected');
        });

        $('#btnDark').on('click', function () {
            var sTheme = $(this)[0].attributes['data'].value;
            updateThemes(sTheme);
        });

        $('#btnBright').on('click', function () {
            var sTheme = $(this)[0].attributes['data'].value;
            updateThemes(sTheme);
        });

        function updateThemes(themes) {
            $.post("/Theme/SetThemes", {
                data: themes
            }).done(function (resp) {
                // window.location.reload();
            });
        }

        function toggleTheme(changeCookie) {
            var element = document.getElementById("group_1138");
            var darkIcon = document.getElementById("dark_theme_icon");
            var lightIcon1 = document.getElementById("path_519");
            var lightIcon2 = document.getElementById("path_520");
            element.classList.toggle("darktheme");
            darkIcon.classList.toggle("darktheme");
            lightIcon1.classList.toggle("darktheme");
            lightIcon2.classList.toggle("darktheme");

            if (changeCookie) {
                var theme = "";

                if (lightIcon1.classList.contains("darktheme")) {
                    updateThemes("dark");
                    theme = '/css/DarkTheme.css';
                }
                else {
                    updateThemes("light");
                    theme = '/css/LightTheme.css';
                }

                if (document.getElementById("themeCss")) {
                    document.getElementById("themeCss").remove();
                }

                var head = document.getElementsByTagName('head')[0];
                var link = document.createElement('link');
                link.id = "themeCss"
                link.rel = 'stylesheet';
                link.href = theme;
                head.appendChild(link);
            }
        }

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
