@inject IHttpContextAccessor httpContextaccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VPMS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap/dist/js/v4.6.2/bootstrap.bundle.min.js"></script>

    @{
        var theme = httpContextaccessor.HttpContext.Request.Cookies["theme"];
        if (theme != null)
        {
            if (theme == "dark")
            {
                <link rel="stylesheet" href="~/css/DarkTheme.css" />
            }
            if (theme == "light")
            {
                    <link rel="stylesheet" href="~/css/LightTheme.css" />
            }
        }
        else
        {
                <link rel="stylesheet" href="~/css/LightTheme.css" />
        }
    }
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <dix class="col-auto bar-menu-bg">
                <div class="d-flex flex-column align-items-center" style="width: 262px; margin-top: 35px; margin-left: 22px;">
                    <div class="col-md-12">
                        <img id="imgLogo" style="width: 40px; height: 34px; " />
                        <img id="imgLogoTitle" style="width: 160px; height: 22px;" />
                    </div>
                </div>
                <ul class="sidebar-nav">
                    <li style="margin-top: 85px; margin-bottom: 10px">
                        <a asp-controller="Dashboard" asp-action="Index">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconHome" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Dashboard</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconPatients" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Patients</strong>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Appointment" asp-action="Index">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconAppt" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Appointments</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconReceipt" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Reception</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconAccess" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Access Control</strong>
                            <img id="imgArrow" style="margin-left: 20px;" />
                            <ul>
                                <li>Organization</li>
                                <li>Staff Listing</li>
                                <li>Role Setting</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="imgTreatment" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Patient Treatment Plan</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconInventory" style="margin-left: 16px; margin-right: 16px;" />
                            <strong class="sidebar-nav-font">Service & Inventory</strong>
                            <img id="imgArrow" style="margin-left: 3px;" />
                            <ul>
                                <li>Service</li>
                                <li>Inventory</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconServices" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Customer Service</strong>
                        </a>
                    </li>
                </ul>
            </dix>
            <div class="col py-3">
                <div class="row" style="border: 0px solid black; height: 85px;">
                    <div class="col-md-6" style="border: 0px solid black;">
                    </div>
                    <div class="col-md-6" style="border: 0px solid black;">
                        <div class="row" style="height: 80px;">
                            <div class="col-md-4" style="border: 0px solid black;"></div>
                            <div class="col-md-6" style="border: 0px solid black;">
                                <div style="display: flex; flex-direction: row; margin-top: 10px; width: 280px; height: 60px;">
                                    <div style="width: 60px; border-radius: 50px; background-color: cornflowerblue;">
                                        <img src="images/AvatarProfile.png" width="60" height="60"/>
                                    </div>
                                    <div style="width: 220px; margin-left: 15px;">
                                        <div class="dropdown" style="margin-top: 10px;">
                                            <div class="dropdown-toggle" data-toggle="dropdown" style="width: 180px;">
                                                <label class="ProfileFont">NAME NAME NAME NAME</label>
                                            </div>
                                            <div class="dropdown-menu profilemenu">
                                                <a class="dropdown-item" href="#">My Profile</a>
                                                <a class="dropdown-item" href="#">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="border: 0px solid black;">
                                <!-- Switch Themes -->
                                <div class="divThemes">
                                    <div id="btnDark" class="text-center align-content-center" style="display: inline-block; width: 32px; height: 35px; border-radius: 5px; margin-left: 6px; margin-top: 4px;" data="dark">
                                        <img src="images/DarkWhite.png" width="22" height="20" />
                                    </div>
                                    <div id="btnBright" class="text-center align-content-center" style="width: 32px; height: 35px; border-radius: 5px; margin-right: 5px; margin-top: 4px;" data="light">
                                        <img src="images/BrightnessWhite.png" width="22" height="20" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border: 0px solid black;">
                    @RenderBody()
                </div>
                
            </div>
        </div>
    </div>

    <script src="~/lib/ajax/popper.js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.sidebar-nav li').click(function (e) {
            if ($(this).find('#imgArrow').length > 0) {
                $(this).find('ul').toggleClass('open');
                $(this).find('#imgArrow').toggleClass('Up');
            }
            else 
            {
                $('.sidebar-nav').find('span').removeClass('selected');
                $(this).find('span').toggleClass('selected');
            }
        })

        $('.sidebar-nav li ul li').click(function (e) {
            $('.sidebar-nav').find('span').removeClass('selected');

            $(this).parent().toggleClass('open');
            $(this).parent().parent().find('#imgArrow').toggleClass('Up');
            $(this).parent().parent().parent().find('span').toggleClass('selected');
        });

        $('#btnDark').on('click', function () {
            var sTheme = $(this)[0].attributes['data'].value;
            updateThemes(sTheme);
        });

        $('#btnBright').on('click', function () {
            var sTheme = $(this)[0].attributes['data'].value;
            updateThemes(sTheme);
        });

        function updateThemes(themes) 
        {
            $.post("/Theme/SetThemes", {
                data: themes,
                userid: 'User A'
            }).done(function (resp) {
                window.location.reload();           
            });
        }
    </script>
</body>
</html>
