@inject IHttpContextAccessor httpContextaccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VPMS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap/dist/js/v4.6.2/bootstrap.bundle.min.js"></script>

    @* @{
        var theme = httpContextaccessor.HttpContext.Request.Cookies["theme"];
        if (theme != null)
        {
            if (theme == "dark")
            {
                <link rel="stylesheet" href="~/css/DarkTheme.css" />
            }
            if (theme == "light")
            {
                    <link rel="stylesheet" href="~/css/LightTheme.css" />
            }
        }
        else
        {
                <link rel="stylesheet" href="~/css/LightTheme.css" />
            /* temp */
    }
            }
        }
    </style>
</head>
<body onload="StartTimers();" onmousemove="ResetTimers();" onkeydown="ResetTimers();">

    <div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" id="alert" style="position: fixed; z-index: 9999;left: 50%; transform: translate(-50%, 0); display: none !important;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div style="margin-left: 1vw;">You will be automatically logout if continue to idle.</div>
    </div>
            <dix class="col-auto bar-menu-bg">
                <div class="d-flex flex-column align-items-center" style="width: 262px; margin-top: 35px; margin-left: 22px;">
        <div class="row flex-nowrap">
                        <img id="imgLogo" style="width: 40px; height: 34px; " />
                        <img id="imgLogoTitle" style="width: 160px; height: 22px;" />
                    <div class="col-md-12">
                        <img src="images/vpms_logo_icon.png" style="width: 40px; height: 34px; " />
                        <img src="images/vpms_logo.png" style="width: 160px; height: 22px;" />
                    </div>
                </div>
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconHome" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Dashboard</strong>
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img src="~/images/home.png" width="20" height="20" style="margin-left: 20px; margin-right: 20px;" />
                            <strong style="vertical-align: middle; color: black;">Dashboard</strong>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconPatients" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Patients</strong>
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img src="images/fa_solid_paw_icon.png" width="20" height="20" style="margin-left: 20px; margin-right: 20px;" />
                            <strong style="vertical-align: middle; color: black;">Patients</strong>
                        </a>
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconAppt" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Appointments</strong>
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img src="~/images/file_icon.svg" width="20" height="20" style="margin-left: 20px; margin-right: 20px;" />
                            <strong style="vertical-align: middle; color: black;">Appointments</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconReceipt" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Reception</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconAccess" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Access Control</strong>
                            <img id="imgArrow" style="margin-left: 20px;" />
                            <ul>
                                <li>Organization</li>
                                <li>Staff Listing</li>
                                <li>Role Setting</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="imgTreatment" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Patient Treatment Plan</strong>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconInventory" style="margin-left: 16px; margin-right: 16px;" />
                            <strong class="sidebar-nav-font">Service & Inventory</strong>
                            <img id="imgArrow" style="margin-left: 3px;" />
                            <ul>
                                <li>Service</li>
                                <li>Inventory</li>
                            </ul>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="background-color: none; width: 20px; height: 35px; vertical-align: middle;  display: inline-block;"></span>
                            <img id="iconServices" style="margin-left: 20px; margin-right: 20px;" />
                            <strong class="sidebar-nav-font">Customer Service</strong>
                        </a>
                    </li>
                </ul>
            </dix>
            <div class="col py-3">
                <div class="row" style="border: 0px solid black; height: 85px;">
                    <div class="col-md-6" style="border: 0px solid black;">
                    </div>
                    <div class="col-md-6" style="border: 0px solid black;">
                        <div class="row" style="height: 80px;">
                            <div class="col-md-4" style="border: 0px solid black;"></div>
                            <div class="col-md-6" style="border: 0px solid black;">
                                <div style="display: flex; flex-direction: row; margin-top: 10px; width: 280px; height: 60px;">
                                    <div style="width: 60px; border-radius: 50px; background-color: cornflowerblue;">
                                        <img src="~/images/AvatarProfile.png" width="60" height="60" />
                                    </div>
                                    <div style="width: 220px; margin-left: 15px;">
                                        <div class="dropdown" style="margin-top: 10px;">
                                            <div class="dropdown-toggle" data-toggle="dropdown" style="width: 180px;">
                                                <label class="ProfileFont">NAME NAME NAME NAME</label>
                                            </div>
                                            <div class="dropdown-menu profilemenu">
                                                <a class="dropdown-item" href="#">My Profile</a>
                                                <a class="dropdown-item" href="Login/Logout">Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divThemes">
                                    <div id="btnDark" class="text-center align-content-center" style="display: inline-block; width: 32px; height: 35px; border-radius: 5px; margin-left: 6px; margin-top: 4px;" data="dark">
                                        <img src="images/DarkWhite.png" width="22" height="20" />
                                <div class="divThemes">
                                    <div id="btnDark" class="text-center align-content-center" style="display: inline-block; width: 32px; height: 35px; border-radius: 5px; margin-left: 6px; margin-top: 4px;" data="dark">
                                        <img src="images/DarkWhite.png" width="22" height="20" />
                                    </div>
                                    <div id="btnBright" class="text-center align-content-center" style="width: 32px; height: 35px; border-radius: 5px; margin-right: 5px; margin-top: 4px;" data="light">
                                        <img src="~/images/BrightnessWhite.png" width="22" height="20" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="border: 0px solid black;">
                    @RenderBody()
                </div>
                
            </div>
    <script src="~/lib/ajax/popper.js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    </div>
    <script src="~/lib/ajax/popper.js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!--<script src="~/js/main.js" asp-append-version="true"></script>-->
    <script type="text/javascript">

        // if (document.getElementById('pageName').innerHTML == "Dashboard Page") {
        //     $("#dashboardMenu").toggleClass('selected')
        // }

        var pageName = document.getElementById('pageName').innerHTML;
        $("#" + pageName).toggleClass('selected')

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.sidebar-nav li').click(function (e) {
            if ($(this).find('#imgArrow').length > 0) {
                $(this).find('ul').toggleClass('open');
                $(this).find('#imgArrow').toggleClass('Up');
            }
            else 
            {
                $('.sidebar-nav').find('span').removeClass('selected');
                $(this).find('span').toggleClass('selected');
            }
        })

        $('.sidebar-nav li ul li').click(function (e) {
            $('.sidebar-nav').find('span').removeClass('selected');

            $(this).parent().toggleClass('open');
            $(this).parent().parent().find('#imgArrow').toggleClass('Up');
            $(this).parent().parent().parent().find('span').toggleClass('selected');
        });

        $('#btnDark').on('click', function () {
            var sTheme = $(this)[0].attributes['data'].value;
            updateThemes(sTheme);
        });

        $('#btnBright').on('click', function () {
            var sTheme = $(this)[0].attributes['data'].value;
            updateThemes(sTheme);
        });

        function updateThemes(themes) 
        {
            $.post("/Theme/SetThemes", {
                data: themes
            }).done(function (resp) {
                window.location.reload();           
            });
        }

        //setting for idle logout
        // Set timeout variables. 1000 = 1 second.
        var timoutWarning = 5000;
        var timoutNow = 10000;
        var logoutUrl = 'login/Logout?autoLogout=true'; // URL to logout page.

        var warningTimer;
        var timeoutTimer;

        // Start timers.
        function StartTimers() {
            warningTimer = setTimeout("IdleWarning()", timoutWarning);
            timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
        }

        // Reset timers.
        function ResetTimers() {
            clearTimeout(warningTimer);
            clearTimeout(timeoutTimer);
            StartTimers();

            $("#alert").slideUp(500, function () {
                $("#alert")[0].style.setProperty('display', 'none', 'important');
            });
        }

        // Show idle timeout warning dialog.
        function IdleWarning() {
            $("#alert").slideDown(500);
        }

        // Logout the user.
        function IdleTimeout() {
            window.location = logoutUrl;
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
