<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VPMSCustomer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VPMSCustomer.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="container-fluid" style="height: 100vh;">
        <div class="row flex-nowrap">

            <div id="leftPane" class="col-auto col-md-2 col-xs-2 px-sm-2 px-0" style="background-color: #F7F7F7;">
                <div class="row justify-content-md-center pt-3 pb-5">
                    <img id="imgLogo" src="~/Images/Logo/Vet-Vitals-Logo.png" width="180" height="50" />

                    <img id="imgLogoResp" src="Vet-VitalsICON.ico" style="visibility: hidden; display: none;" />
                </div>

                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">

                    <ul id="menu" class="nav nav-pills flex-column ps-2 mb-sm-auto align-items-center align-items-sm-start">
                        <li class="nav-item mb-3" style="font-size: 13px; font-weight: bold; vertical-align: middle;">

                            <img src="~/Images/Icons/Icon-home.png" width="18" height="18" style="margin-right: 15px;" />
                            <span class="d-none d-sm-inline sidebar-nav-font">Home</span>
                        </li>
                        <li class="nav-item mb-3" style="font-size: 13px; font-weight: bold; vertical-align: middle;">

                            <img src="~/Images/Icons/Icon-pets.png" width="18" height="18" style="margin-right: 15px;" />
                            <span class="d-none d-sm-inline sidebar-nav-font">Pets</span>
                        </li>

                        <li class="nav-item mb-3" style="font-size: 13px; font-weight: bolder; vertical-align: middle;">

                            <img src="~/Images/Icons/Icon-appointment.png" width="18" height="18" style="margin-right: 15px;" />
                            <span class="d-none d-sm-inline sidebar-nav-font">Appointment</span>
                        </li>

                        <li class="nav-item mb-3" style="font-size: 13px; font-weight: bolder; vertical-align: middle;">

                            <img src="~/Images/Icons/Icon-invoice-receipts.png" width="18" height="18" style="margin-right: 15px;" />
                            <span class="d-none d-sm-inline sidebar-nav-font">Invoice & Receipts</span>
                        </li>

                        <li class="nav-item mb-3" style="font-size: 13px; font-weight: bold; vertical-align: middle;">

                            <img src="~/Images/Icons/Icon-analytics.png" width="18" height="18" style="margin-right: 15px;" />
                            <span class="d-none d-sm-inline sidebar-nav-font">Analytics</span>
                        </li>

                        <li class="nav-item mb-3" style="font-size: 13px; font-weight: bold; vertical-align: middle;">

                            <img src="~/Images/Icons/Icon-customer-service.png" width="18" height="18" style="margin-right: 15px;" />
                            <span class="d-none d-sm-inline sidebar-nav-font">Customer Service</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Content -->
            <div class="col-md-10">
                <div class="row" style="border: 0px solid black; height: 70px;">
                    <h3> Left sidebar with submenu</h3>
                </div>
                <div class="row" style="border: 0px;">
                    @RenderBody()
                </div>
                
            </div>
        </div>
    </div>
    <!--
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VPMSCustomer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @*RenderBody()*@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - VPMSCustomer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*await RenderSectionAsync("Scripts", required: false)*@
     -->
</body>
</html>
