body {
}

input {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

input:focus {
    text-decoration: none !important;
    box-shadow: none;
}

button {
    box-shadow: none !important;
    text-decoration: none !important;
}

.errorValidation {
    border-color: red !important;
}

.errorLabel {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.dropdown-toggle::after {
    color: black;
}

#lnkLogout {
    cursor: pointer;
}

.menuItems {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
}

.avatarFrame {
    width: 60px;
    border-radius: 50px;
    margin-top: 5px;
    background-color: #fdf6e6;
}

.avatarImg {
    content: url('../Images/AvatarProfile.png');
    width: 60px;
    height: 60px;
}

.upperMenuLayout {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 60px;
}

@media (max-width: 800px){
    #leftPane {
        width: 45px !important;
    }

    .sidebar-nav-font{
        display: none !important;
    }

    /*---- menu logo */
    #menu li img {
        margin-right: 5px !important;
        margin-left: 0px !important;
    }

    #imgLogo {
        /*display: none !important;*/
        visibility: hidden !important;
    }

    #imgLogoResp {
        visibility: visible !important;
        content: url('../Vet-VitalsICON.ico');
        width: 36px;
        height: 34px;
    }
}
