.editField {
    display: none;
}

/*.displayField {
    font-size: 12px;
}*/

/*.fieldTitle {
    font-size: 12px;
    font-weight: bold;
}*/

#btnCancel, #btnSave {
    display: none;
}

/*.borderFrame {
    background-color: #F7F7F7;
    border-radius: 8px;
}
*/
.avatarFrame {
    width: 75px;
    border-radius: 75px;
    background-color: #fdf6e6;
}
