.borderResetPassFrame {
    background-color: #F7F7F7;
    border-radius: 8px;
}

.ResetFieldTitle {
    font-size: 14px;
    font-weight: bold;
}

#txtOldPassword, #txtNewPassword, #txtConfirmPassword {
    width: 100%;
}

#btnUpdate, #btnCancel {
    width: 100%;
}
