.bannerFrame {
    width: 1450px;
    height: 340px;
}

.bannerImageFrame {
    width: 1450px;
    height: 340px;
}

.bannerEmptyBox {
    width: 1450px;
    height: 340px;
}

.blogThumbnail {
    width: 303px;
    height: 150px;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: -10px;
}

.blogTitle {
    font-size: 15px;
    font-weight: bold;
    margin-left: -10px;
}

.blogDateTime {
    font-size: 14px;
    margin-left: -10px;
}
