@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["SelectedMenu"] = "appointmentMenu";
}

<div id="pageName" hidden>@ViewData["SelectedMenu"]</div>

<div>
    <h1>appointment</h1>
</div>

