﻿@using Microsoft.AspNetCore.Localization
@inject VPMSWeb.Interface.IResourcesLocalizer LangResources

@{
	ViewData["Title"] = "Create New Treatment Plan Page";
	ViewBag.SelectedMenu = "patientServicesMenu";
}

<style>
	.table-content {
		/* text-align: center; */
		height: 2vw;
	}

	.table-row-content {
		padding: 1vw 0;
	}

	table th:first-child {
		border-radius: 0.2vw 0 0 0.2vw;
	}

	table th:last-child {
		border-radius: 0 0.2vw 0.2vw 0;
	}

	.form-field {
		border-style: solid;
		border-color: black;
		font-size: 1vw;
	}

	.field-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 2vw;
		font-size: 1vw;
	}

	.form-label {
		font-weight: bold;
		margin-bottom: 0.7vw;
	}

	/* circle-icon */
	#container {
		width: 1.6vw;
		height: 1.6vw;
		display: flex;
		background: transparent;
		border-radius: 2vw;
		color: blue;
		border: 0.15vw solid;
		font-size: 1.5vw;
		justify-content: center;
		align-items: center;
	}

	#patientTreatmentPlan {
		color: dodgerblue !important;
	}
</style>

<div style="display: flex;">
	<div style="display: flex; align-items: center; margin-bottom: 1.5vw;">
		<img id="imgBackArrow" style=" margin-right: 1vw; width: 1.5vw;" onclick="location.href='@Url.Action("TreatmentPlanList", "PatientServices")'" />
		<span class="textColor" style="font-size: 2vw;">Treatment Plan</span>
		<span class="textColor" style="font-size: 2vw; margin-left:1vw; margin-right:1vw; font-weight: bold;"> &#62; </span>
		<span style="font-size: 2vw; color: dodgerblue;">New Treatment</span>
	</div>
</div>

<template id="serviceTemplate">
	<tr style="height: 3.3vw;">
		<td class="table-content table-row-content serviceName">  </td>
		<td class="table-content table-row-content servicePrice">  </td>
		<td class="table-content table-row-content" style="width: 7vw;">
			<div style="display: flex; justify-content: space-between;">
				<button class="btn btn-lg btn-primary" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center; font-size: 1vw;"><i class="fa-regular fa-eye"></i></button>
				<button onclick="this.parentElement.parentElement.parentElement.remove(); calculateTotal();" class="btn btn-lg btn-secondary" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center; font-size: 1vw;"><i class="fa-regular fa-trash-can"></i></button>
			</div>
		</td>
	</tr>
</template>

<template id="medicationProductTemplate">
	<tr style="height: 3.3vw;">
		<td class="table-content table-row-content medicationProductName">  </td>
		<td class="table-content table-row-content">
			<input type="number" min="1" style="width: 5vw;" />
		</td>
		<td class="table-content table-row-content medicationProductPrice"> </td>
		<td class="table-content table-row-content" style="width: 7vw;">
			<div style="display: flex; justify-content: space-between;">
				<button class="btn btn-lg btn-primary" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center; font-size: 1vw;"><i class="fa-regular fa-eye"></i></button>
				<button onclick="this.parentElement.parentElement.parentElement.remove(); calculateTotal();" class="btn btn-lg btn-secondary" style="height: 2vw; width: 3vw; padding: 0; display: flex; justify-content: center; align-items: center; font-size: 1vw;"><i class="fa-regular fa-trash-can"></i></button>
			</div>
		</td>
	</tr>
</template>

<div style="display: flex; justify-content: center;">
	<div id="LeftInfoContainer" style="overflow: auto; height: 71vh; margin-right: 1vw; width: 52vw;">
		<div>
			<div class="containerBackground2" style="width: 50vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw; display: flex; justify-content: space-between; align-items: center;">
				<span class="formlabel" style="margin-bottom: 0 !important;">Treatment Details</span>
			</div>
			<div class="containerBorder" style="width: 50vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container" style="width: 100%;">
						<span class="formlabel textColor">Treatment Name</span>
						<input id="TreatmentName" type="text" class="form-control form-field inputField" />
					</div>
				</div>

				<div style="display: flex; justify-content: space-between; margin-bottom: 1.5vw;">
					<div class="field-container" style="width: 45%;">
						<span class="formlabel textColor">Created By</span>
						<select id="CreatedBy" class="form-control form-field inputField">
							<option value="" selected> -- Select Admin -- </option>
							<option value="Admin1"> Admin1 </option>
							<option value="Admin2"> Admin2 </option>
						</select>
					</div>

					<div class="field-container" style="width: 45%;">
						<span class="formlabel textColor">Status</span>
						<select id="Status" class="form-control form-field inputField">
							<option value="" selected> -- Select Status -- </option>
							<option value="Active"> Active </option>
							<option value="Inactive"> Inactive </option>
						</select>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container" style="width: 100%;">
						<span class="formlabel textColor" style="font-weight: 800; margin-bottom: 1vw;">Service</span>
						<div style=" padding: 1vw;" class="containerBackground">
							<table class="textColor" id="serviceList" style="width:100%; margin-bottom: 2vw; font-size: 1vw;">
								<tr style="border-bottom-width: 0.1vw; border-color: darkgray;">
									<th class="table-content"> Service </th>
									<th class="table-content"> Price ($) </th>
									<th class="table-content">  </th>
								</tr>
							</table>

							<div class="dropright">
								<button class="btn btn-lg btn-primary" data-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: blue; border-style: none; display: flex; align-items: center; box-shadow: none; padding: 0;">
									<span id="container">+</span>
									<span style="font-size: 1.2vw; margin-left: 0.5vw;">Add Service</span>
								</button>
								<div class="dropdown-menu containerBackground4" style="padding: 1vw; border: 0.1vw solid; border-radius: 0.3vw;">
									<div style="display: flex; border: 0.1vw solid; border-radius: 0.3vw; margin-bottom: 1vw; align-items: center; padding: 0 0.5vw; color: black; background-color: #f7f7f7; border-color: darkgray;">
										<i class="fa-solid fa-magnifying-glass" style="margin-right: 0.3vw; color: darkgray"></i>
										<input type="text" id="searchServices" placeholder="Search Service" onkeyup="filter(this,'serviceOption');" style=" width: 100%; border: none; outline-width: 0; background-color: transparent;" />
									</div>
									<div style="height: 10vw; width: 23vw; overflow-y: auto; margin-bottom: 1vw; padding: 0 0.5vw;">

										<div style="margin-bottom: 1vw;">
											<div class="form-check">
												<input type="checkbox" class="form-check-input serviceOption" id="service1" name="service1" value="Routine health checkups" onchange="checkSelected('serviceOption', 'addServices');">
												<label class="form-check-label" for="service1"> Routine health checkups</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input serviceOption" id="service2" name="service2" value="Vaccination" onchange="checkSelected('serviceOption', 'addServices');">
												<label class="form-check-label" for="service2"> Vaccination</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input serviceOption" id="service3" name="service3" value="Dental care" onchange="checkSelected('serviceOption', 'addServices');">
												<label class="form-check-label" for="service3"> Dental care</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input serviceOption" id="service4" name="service4" value="Chronic disease management" onchange="checkSelected('serviceOption', 'addServices');">
												<label class="form-check-label" for="service4"> Chronic disease management</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input serviceOption" id="service5" name="service5" value="Michrochipping and identification" onchange="checkSelected('serviceOption', 'addServices');">
												<label class="form-check-label" for="service5"> Microchipping and identification</label><br>
											</div>
										</div>

									</div>
									<div style="display: flex; justify-content: space-between; align-items: center;">
										<button class="btn btn-lg btn-primary" name="service" id="clearFilter" href="#" style="background-color: transparent; color: blue; border-style: none; box-shadow: none;">
											<span style="font-size: 1.2vw; margin-left: 0.5vw;">Clear All</span>
										</button>
										<button id="addServices" class="btn btn-lg btn-primary disable" style="font-size: 1vw;">Add Selections</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container" style="width: 100%;">
						<span class="formlabel textColor" style="font-weight: 800; margin-bottom: 1vw;">Medication / Product</span>
						<div style=" padding: 1vw;" class="containerBackground">
							<table class="textColor" id="medicationProductList" style="width:100%; margin-bottom: 2vw; font-size: 1vw;">
								<tr style="border-bottom-width: 0.1vw; border-color: darkgray;">
									<th class="table-content"> Medication/Product Name </th>
									<th class="table-content"> Unit </th>
									<th class="table-content"> Price ($) </th>
									<th class="table-content">  </th>
								</tr>
							</table>

							<div class="dropright">
								<button class="btn btn-lg btn-primary" data-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: blue; border-style: none; display: flex; align-items: center; box-shadow: none; padding: 0;">
									<span id="container">+</span>
									<span style="font-size: 1.2vw; margin-left: 0.5vw;">Add Medication/Product</span>
								</button>
								<div class="dropdown-menu containerBackground4" style="padding: 1vw; border: 0.1vw solid; border-radius: 0.3vw; background-color: white !important;">
									<div style="display: flex; border: 0.1vw solid; border-radius: 0.3vw; margin-bottom: 1vw; align-items: center; padding: 0 0.5vw; color: black; background-color: #f7f7f7; border-color: darkgray;">
										<i class="fa-solid fa-magnifying-glass" style="margin-right: 0.3vw; color: darkgray"></i>
										<input type="text" id="searchMedicationProduct" placeholder="Search Medication/Product" onkeyup="filter(this, 'productOption');" style=" width: 100%; border: none; outline-width: 0; background-color: transparent;" />
									</div>
									<div style="height: 10vw; width: 23vw; overflow-y: auto; margin-bottom: 1vw; padding: 0 0.5vw;">

										<div style="margin-bottom: 1vw;">
											<div class="form-check">
												<input type="checkbox" class="form-check-input productOption" id="product1" name="product1" value="Routine health checkups" onchange="checkSelected('productOption', 'addMedicationProduct');">
												<label class="form-check-label" for="product1"> Prednisalone Suspension 5mg | 10ml</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input productOption" id="product2" name="product2" value="Vaccination" onchange="checkSelected('productOption', 'addMedicationProduct');">
												<label class="form-check-label" for="product2"> Cefpodoxime (Simplicef)</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input productOption" id="product3" name="product3" value="Dental care" onchange="checkSelected('productOption', 'addMedicationProduct');">
												<label class="form-check-label" for="product3"> Enrofloxacin (Baytril)</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input productOption" id="product4" name="product4" value="Chronic disease management" onchange="checkSelected('productOption', 'addMedicationProduct');">
												<label class="form-check-label" for="product4"> Metronidazole</label><br>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input productOption" id="product5" name="product5" value="Michrochipping and identification" onchange="checkSelected('productOption', 'addMedicationProduct');">
												<label class="form-check-label" for="product5"> Carprofen (Rimadyl)</label><br>
											</div>
										</div>

									</div>
									<div style="display: flex; justify-content: space-between; align-items: center;">
										<button class="btn btn-lg btn-primary" name="medicationProduct" id="clearFilter" href="#" style="background-color: transparent; color: blue; border-style: none; box-shadow: none;">
											<span style="font-size: 1.2vw; margin-left: 0.5vw;">Clear All</span>
										</button>
										<button id="addMedicationProduct" class="btn btn-lg btn-primary disable" style="font-size: 1vw;">Add Selections</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div style="display: flex; margin-bottom: 1.5vw;">
					<div class="field-container" style="width: 100%;">
						<span class="formlabel textColor">Remarks</span>
						<input id="Remarks" type="text" class="form-control form-field inputField" />
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="RightInfoContainer" style="margin-left: 1.5vw;">
		<div>
			<div class="containerBackground2" style="width: 23vw; padding: 0.7vw; padding-left: 1.5vw; border-top-left-radius: 0.5vw; border-top-right-radius: 0.5vw;">
				<span class="formlabel" style="margin-bottom: 0 !important;">Total Cost</span>
			</div>
			<div class="containerBorder textColor" style="color: darkgray; width: 23vw; border-style: solid; border-bottom-left-radius: 0.5vw; border-bottom-right-radius: 0.5vw; padding: 2vw; padding-left: 0.5vw; padding-right: 0.5vw; padding-bottom: 0.5vw; margin-bottom: 2vw;">

				<div style="display: flex; justify-content: space-between; margin-bottom: 1.5vw; padding: 0 1vw;">
					<div class="field-container quaterSize" style="margin-bottom: unset;">
						<span class="formlabel">Services</span>
					</div>

					<div class="field-container quaterSize" style=" flex-direction: row; margin-bottom: unset;">
						<span class="formlabel" id="serviceTotal"></span><span class="formlabel">$</span>
					</div>
				</div>

				<div style="display: flex; justify-content: space-between; margin-bottom: 1.5vw; padding: 0 1vw;">
					<div class="field-container quaterSize" style="margin-bottom: unset;">
						<span class="formlabel">Medication/Products</span>
					</div>

					<div class="field-container quaterSize" style=" flex-direction: row; margin-bottom: unset;">
						<span class="formlabel" id="medicationProductTotal"></span><span class="formlabel">$</span>
					</div>
				</div>

				<div style="display: flex; justify-content: space-between; margin-bottom: 1.5vw; background-color: #c8dcfc; padding: 0 1vw;">
					<div class="field-container quaterSize" style="margin-bottom: unset;">
						<span class="formlabel">Total</span>
					</div>

					<div class="field-container quaterSize" style="flex-direction: row; margin-bottom: unset;">
						<span class="formlabel" id="total"></span><span class="formlabel">$</span>
					</div>
				</div>

			</div>
		</div>

		<div style="text-align: end; display: flex; justify-content: space-between;">
			<button onclick="location.href='@Url.Action("TreatmentPlanList", "PatientServices")'" class="btn btn-lg btn-secondary" style="width: 11vw; font-size: 1vw;"> Back </button>
			<button class="btn btn-lg btn-primary" id="saveButton" style="width: 11vw; font-size: 1vw;"> @LangResources["Patient_Button_Save"] </button>
		</div>

	</div>
</div>

<script>

	calculateTotal();

	document.querySelector('#addServices').addEventListener('click', function (event) {
		if (this.classList.contains("disable")) { event.stopPropagation(); }
		else {
			cloneElement("serviceTemplate", "serviceList", "serviceName", "Surgery", "servicePrice", "800");
			cloneElement("serviceTemplate", "serviceList", "serviceName", "Preventive Care", "servicePrice", "15");

			calculateTotal();
		}
	});

	document.querySelector('#addMedicationProduct').addEventListener('click', function (event) {
		if (this.classList.contains("disable")) { event.stopPropagation(); }
		else {
			cloneElement("medicationProductTemplate", "medicationProductList", "medicationProductName", "Prednisalone Suspension 5mg | 10ml", "medicationProductPrice", "100");

			calculateTotal();
		}
	});

	var treatments = document.querySelectorAll('.form-check');

	for (let i = 0; i < treatments.length; i++) {
		treatments[i].addEventListener('click', function (event) {
			event.stopPropagation();
		});
	}

	var clearFilterElement = document.querySelectorAll("#clearFilter");

	for (let i = 0; i < clearFilterElement.length; i++) {
		clearFilterElement[i].addEventListener('click', function (event) {
			event.stopPropagation();

			var option = "", selector = "";

			if (this.name == "service") { option = "service"; selector = "Services"; }
			else { option = "product"; selector = "MedicationProduct"; }

			var element = this.parentElement.parentElement;

			const a = element.querySelectorAll("." + option + "Option");

			for (let i = 0; i < a.length; i++) {
				if (a[i].checked) {
					a[i].checked = false;
				}
			}

			var test = "#search" + selector;

			element.querySelector(test).value = "";
			$('#search' + selector).keyup();

			var addSelections = element.querySelector("#add" + selector);
			if (!addSelections.classList.contains("disable")) { addSelections.classList.toggle("disable"); }

		});
	}

	function checkSelected(element, button) {
		const a = document.querySelectorAll("." + element);
		var disabledFilter = true;

		for (let i = 0; i < a.length; i++) {
			if (a[i].checked) {
				disabledFilter = false;
			}
		}

		var addSelections = document.getElementById(button);
		if (disabledFilter) {
			if (!addSelections.classList.contains("disable")) { addSelections.classList.toggle("disable"); }
		}
		else {
			if (addSelections.classList.contains("disable")) { addSelections.classList.toggle("disable"); }
		}
	}

	function cloneElement(templateId, elementId, nameElement, name, priceElement, price) {
		const template = document.getElementById(templateId);
		const element = document.getElementById(elementId);
		const clone = template.content.cloneNode(true);

		clone.querySelector("." + nameElement).innerHTML = name;
		clone.querySelector("." + priceElement).innerHTML = price;

		element.appendChild(clone);
	}

	function filter(element, target) {
		const filter = element.value.toUpperCase();

		var parentElement = element.parentElement.parentElement;

		const a = parentElement.querySelectorAll("." + target);

		for (let i = 0; i < a.length; i++) {
			var value = a[i].value;
			if (value.toUpperCase().indexOf(filter) > -1) {
				a[i].parentElement.style.display = "";
			} else {
				a[i].parentElement.style.display = "none";
			}
		}
	}

	function calculateTotal(){
		var servicePriceElement = document.querySelectorAll(".servicePrice");
		var medicationProductPriceElement = document.querySelectorAll(".medicationProductPrice");
		var serviceTotal = 0;
		var medicationProductTotal = 0;
		var total = 0;

		for (let i = 0; i < servicePriceElement.length; i++) {
			serviceTotal += parseInt(servicePriceElement[i].innerHTML);
		}

		for (let i = 0; i < medicationProductPriceElement.length; i++) {
			medicationProductTotal += parseInt(medicationProductPriceElement[i].innerHTML);
		}

		document.getElementById("serviceTotal").innerHTML = serviceTotal;
		document.getElementById("medicationProductTotal").innerHTML = medicationProductTotal;

		total = serviceTotal + medicationProductTotal;
		document.getElementById("total").innerHTML = total;
		
		if (total == 0) { document.getElementById("saveButton").disabled = true; }
		else { document.getElementById("saveButton").disabled = false; }

	}
</script>