
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ms-3">
    <div class="row pt-4">
        <label class="pageTitle">Appointment</label>
    </div>
    <div class="row mt-4">
        <div class="col-md-9" style="border: 0px solid black;">
            <div class="row" style="border: 0px solid black;">
                <div class="row">
                    <div class="col-md-12">
                        <label class="ms-1" style="font-size: 14px; font-weight: bold;">Rescheduled Appointments</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" style="border: 0px solid black;">
                        <div class="row ms-1" style="border: 0px solid black; background-color: #1e76fc; border-radius: 6px;">
                            <div class="col-md-7" style="border: 0px solid black;">
                                <div class="row mt-2 align-items-center" style="height: 30px;">
                                    <label style="font-size: 14px; font-weight: bold; color: white;">Vaccinnation</label>
                                </div>
                                <div class="row mt-2 mb-2" style="border: 0px solid black;">
                                    <span class="align-items-center">
                                        <img src="~/Images/Icons/calendar_white.png" style="width: 20px; height: 20px;" />
                                        <label style="font-size: 12px; color: white;">08/04/2025</label>
                                    </span>

                                </div>
                                <div class="row mb-2" style="border: 0px solid black;">
                                    <span class="align-items-center">
                                        <img src="~/Images/Icons/clock_white.png" style="width: 18px; height: 18px;" />
                                        <label style="font-size: 12px; color: white;">14:00</label>
                                    </span>
                                </div>
                                <div class="row mb-3">
                                    <label style="font-size: 12px; color: white;">Dr. Kim Ji woon</label>
                                </div>
                                <div class="row mb-3">
                                    <label style="font-size: 12px;">Respond</label>
                                </div>
                            </div>
                            <div class="col-md-5" style="border: 0px solid black;">
                                <div class="row mt-2 align-items-center" style="height: 30px;">
                                    <div class="ms-4 align-items-center" style="border: 1px solid black; width: 60%; height: 100%; border-radius: 6px;">
                                        <label>Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3" style="border: 0px solid black;">
                        <div class="row ms-1" style="border: 0px solid black; background-color: #1e76fc; border-radius: 6px;">
                            <div class="col-md-7" style="border: 0px solid black;">
                                <div class="row mt-2 align-items-center" style="height: 30px;">
                                    <label style="font-size: 14px; font-weight: bold; color: white;">Vaccinnation</label>
                                </div>
                                <div class="row mt-2 mb-2" style="border: 0px solid black;">
                                    <span class="align-items-center">
                                        <img src="~/Images/Icons/calendar_white.png" style="width: 20px; height: 20px;" />
                                        <label style="font-size: 12px; color: white;">08/04/2025</label>
                                    </span>

                                </div>
                                <div class="row mb-2" style="border: 0px solid black;">
                                    <span class="align-items-center">
                                        <img src="~/Images/Icons/clock_white.png" style="width: 18px; height: 18px;" />
                                        <label style="font-size: 12px; color: white;">14:00</label>
                                    </span>
                                </div>
                                <div class="row mb-3">
                                    <label style="font-size: 12px; color: white;">Dr. Kim Ji woon</label>
                                </div>
                                <div class="row mb-3">
                                    <label style="font-size: 12px;">Respond</label>
                                </div>
                            </div>
                            <div class="col-md-5" style="border: 0px solid black;">
                                <div class="row mt-2 align-items-center" style="height: 30px;">
                                    <div class="ms-4 align-items-center" style="border: 1px solid black; width: 60%; height: 100%; border-radius: 6px;">
                                        <label>Status</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-6 mb-3" style="background-color: yellow; border: 1px solid black;">
                        <div class="row ms-1" style="border: 1px solid black; background-color: #1e76fc; border-radius: 6px;">
                            yy
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="row" style="border: 0px solid black;">
                <div class="row">
                    <div class="col-md-12">
                        <label class="ms-1" style="font-size: 14px; font-weight: bold;">Confirmed Appointments</label>
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>
            <div class="row" style="border: 0px solid black;">
                <div class="row">
                    <div class="col-md-12">
                        <label class="ms-1" style="font-size: 14px; font-weight: bold;">Past Appoointments</label>
                    </div>
                </div>
                <div class="row">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-3" style="border: 0px solid red;">
            <div class="row">
                <div class="col-md-12 mt-4" style="border: 0px solid black; background-color: #f7f7f7; border-radius: 6px;">
                    <div class="row mt-2 ms-1">
                        <label style="font-size: 18px; font-weight: bold;">Book Appointment</label>
                    </div>
                    <div class="row mt-4 ms-1">
                        <label style="font-size: 14px; font-weight: bold;">Pets</label>
                    </div>
                    <div class="row ms-2 me-1">
                        <select id="ddlPets" class="form-select form-select-sm">

                        </select>
                    </div>
                    <div class="row mt-3 ms-1">
                        <label style="font-size: 14px; font-weight: bold;">Services</label>
                    </div>
                    <div class="row ms-2 me-1">
                        <select id="ddlServices" class="form-select form-select-sm">

                        </select>
                    </div>
                    <div class="row mt-3 ms-1">
                        <label style="font-size: 14px; font-weight: bold;">Clinic</label>
                    </div>
                    <div class="row ms-2 me-1">
                        <select id="ddlClinic" class="form-select form-select-sm">

                        </select>
                    </div>
                    <div class="row mt-3 ms-1">
                        <label style="font-size: 14px; font-weight: bold;">Date</label>
                    </div>
                    <div class="row ms-2 me-1">
                        <select id="dtDate" class="form-select form-select-sm">

                        </select>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row ms-2 me-1 mb-5">
                        <button class="btn btn-primary">
                            Book Appointment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

