<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Arrow Range Slider</title>
    <style>
        /* Container for the slider */
        .slider-container {
            width: 300px;
            position: relative;
            height: 8px;
            background: linear-gradient(to right, yellow 33%, teal 33%, teal 66%, red 66%);
            border-radius: 5px;
            overflow: visible; /* Allow the thumb to display outside the container */
        }

        /* Styling the range input to be invisible but functional */
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 8px;
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            outline: none;
            cursor: pointer;
        }

            /* Styling the thumb (indicator) as an arrow */
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 15px solid black;
                cursor: pointer;
                position: relative;
                top: -7px;
            }

            .slider::-moz-range-thumb {
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 15px solid black;
                cursor: pointer;
            }
    </style>
</head>
<body>

    <table style="font-size: 1vw;">
        <tr>
            <th>Parameter</th>
            <th>Result</th>
            <th>Normal Range</th>
            <th>Result Gauge</th>
        </tr>
        <tr>
            <td>Hematocrit</td>
            <td>30.5%</td>
            <td>25.8-41.8%</td>
            <td>
                <div class="slider-container">
                    <input type="range" min="0" max="100" value="50" class="slider">
                </div>
            </td>
        </tr>
        <tr>
            <td>Hematocrit</td>
            <td>30.5%</td>
            <td>25.8-41.8%</td>
            <td>
                <div class="slider-container">
                    <input type="range" min="0" max="100" value="30" class="slider">
                </div>
            </td>
        </tr>
        <tr>
            <td>Hematocrit</td>
            <td>30.5%</td>
            <td>25.8-41.8%</td>
            <td>
                <div class="slider-container">
                    <input type="range" min="0" max="100" value="70" class="slider">
                </div>
            </td>
        </tr>
    </table>

</body>
</html>
